extends layouts/main
include mixins/videoBlock
    
block content   
    .videos
        h1 Video
        each item in videosData
            +videoBlock({                
                title:item.title,
                src:item.videoFile,
                views:item.views
            })
            
        
    