extends layouts/main

block content   
    .form-container 
        form(action=routes.upload, method="post")
            label(for="Video File") Video File 
            input(type="file", name="file")
            input(type="text", name="title", placeholder="제목")
            input(type="text", name="description", placeholder="설명")

            input(type="submit", value="Upload Video")